.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.counter-number {
    background-color: rgba(0, 0, 0, 0.808);
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 0.6rem;
    font-size: 3rem;
    font-weight: bold;
    min-width: 70px;
    text-align: center;
}